<div class="sidebar">
    <app-sidebar></app-sidebar>
</div>

<div class="content">
    <div class="mx-5 pb-5">
        <h1>Request A Quote</h1>
        <div *ngIf="resultString=='1'" class="alert alert-success">Quote Added Successfully</div>
        <div *ngIf="resultString=='0'" class="alert alert-danger">Failed to Add Quote</div>
        <small>Please click below mention services of your interest to receive quotation for the same:</small>
        <form id="myForm" (ngSubmit)="submit()">
            <div class="row mt-5">
                <div class="col-6 d-flex">
                    <span class="input-group-text">Name</span>
                    <input [(ngModel)]="quote.name" type="text" name="name" id="name" class="form-control">
                </div>
                <div class="col-6 d-flex">
                    <span class="input-group-text">Email</span>
                    <input [(ngModel)]="quote.email" type="email" name="email" id="email" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-6 d-flex">
                    <span class="input-group-text">Contact no</span>
                    <input [(ngModel)]="quote.contact" type="tel" name="contact" id="contact" class="form-control" >
                </div>
                <div class="col-6 d-flex">
                    <span class="input-group-text">Company</span>
                    <input [(ngModel)]="quote.company" type="text" name="company" id="company" class="form-control">
                </div>
            </div>
            <hr>
            <div class="row services mb-3">
                Service Required:
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.webDesign" type="checkbox" class="form-check-input" name="webDesign" id="webDesign">
                        <label for="webDesign" class="form-check-label">Website Design & Development</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.cms" type="checkbox" class="form-check-input" name="cms" id="cms">
                        <label for="cms" class="form-check-label">CMS (Content Management System)</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.seo" type="checkbox" class="form-check-input" name="seo" id="seo">
                        <label for="seo" class="form-check-label">SEO (Search Engine Optimization)</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.smo" type="checkbox" class="form-check-input" name="smo" id="smo">
                        <label for="smo" class="form-check-label">SMO (Social Media Optimization)</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.staticWeb" type="checkbox" class="form-check-input" name="staticWeb" id="staticWeb">
                        <label for="staticWeb" class="form-check-label">Static Website Design</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.dynamicWeb" type="checkbox" class="form-check-input" name="dynamicWeb" id="dynamicWeb">
                        <label for="dynamicWeb" class="form-check-label">Dynamic Website Design</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.flashWeb" type="checkbox" class="form-check-input" name="flashWeb" id="flashWeb">
                        <label for="flashWeb" class="form-check-label">Flash Website Development</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.domainReg" type="checkbox" class="form-check-input" name="domainReg" id="domainReg">
                        <label for="domainReg" class="form-check-label">Domain Registration</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.webHosting" type="checkbox" class="form-check-input" name="webHosting" id="webHosting">
                        <label for="webHosting" class="form-check-label">Web Hosting Services</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.webMaintenance" type="checkbox" class="form-check-input" name="webMaintenance" id="webMaintenance">
                        <label for="webMaintenance" class="form-check-label">Website Maintenance</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.ecomm" type="checkbox" class="form-check-input" name="ecomm" id="ecomm">
                        <label for="ecomm" class="form-check-label">Ecommerce Development</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.animation" type="checkbox" class="form-check-input" name="animation" id="animation">
                        <label for="animation" class="form-check-label">Walk Through Animation</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.payment" type="checkbox" class="form-check-input" name="payment" id="payment">
                        <label for="payment" class="form-check-label">Online Payment Integration</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.logo" type="checkbox" class="form-check-input" name="logo" id="logo">
                        <label for="logo" class="form-check-label">Logo Design</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.dashboard" type="checkbox" class="form-check-input" name="dashboard" id="dashboard">
                        <label for="dashboard" class="form-check-label">Dash board Application</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.openSource" type="checkbox" class="form-check-input" name="openSource" id="openSource">
                        <label for="openSource" class="form-check-label">Open Source Customization</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.newsLetter" type="checkbox" class="form-check-input" name="newsLetter" id="newsLetter">
                        <label for="newsLetter" class="form-check-label">NewsLetter Design</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        <input [(ngModel)]="quote.other" type="checkbox" class="form-check-input" name="other" id="other">
                        <label for="other" class="form-check-label">Others</label>
                    </div>
                </div>
            </div>
    
            <div class="row">
                <div class="col-6">
                    <label for="query" class="form-label-input">Query</label>
                    <textarea [(ngModel)]="quote.query" class="form-control" name="query" id="query" rows="3"></textarea>
                </div>
            </div>
    
            <div class="row mt-2">
                <input type="submit" value="Submit" class="btn btn-primary col-12">
            </div>
        </form>
    </div>
</div>