<div class="sidebar">
    <app-sidebar></app-sidebar>
</div>
<div class="content">
    <div class="row">
        <div class="col-4 title">
            <h1>Change Password</h1>
        </div>
        <div class="col-6">
            <form id="myForm" (ngSubmit)="submit()">
                <div *ngIf="resultString=='1'" class="alert alert-success">Password Changed Correctly</div>
                <div *ngIf="resultString=='0'" class="alert alert-danger">Failed To Change Password</div>
                <div class="form-group">
                    <label for="currentPassword">Current Password</label>
                    <input [(ngModel)]="oldPassword" type="password" name="currentPassword" id="currentPassword" class="form-control" (change)="checkOldPassword()" autocomplete="false">
                </div>
                <small *ngIf="!oldPasswordCorrect" class="text-danger">Old Password is Incorrect</small>
                <div class="form-group">
                    <label for="newPassword">New Password</label>
                    <input [(ngModel)]="newPassword" type="password" name="newPassword" id="newPassword" class="form-control" autocomplete="false" (change)='checkPasswordsMatch()'>
                </div>
                <small *ngIf="!passwordsMatch" class="text-danger">New password and confirm password must match</small>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input [(ngModel)]="confirmPassword" type="password" name="confirmPassword" id="confirmPassword" class="form-control" autocomplete="false" (change)='checkPasswordsMatch()'>
                </div>
                <div class="form-group">
                    <input type="submit" value="Change Passwords" class="btn btn-primary col-12">
                </div>
            </form>
        </div>
    </div>
</div>