<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <h1 class="title">Sign in to CRM</h1>
                <a [routerLink]="['/user/signup']"><strong>Sign up Now!</strong></a> for a webarch account,It's free and
                always will be...
            </div>
            <div class="col-6">
                <div *ngIf="resultString=='0'" class="alert alert-danger">Email/Password Incorrect</div>
                <form #form="ngForm" (ngSubmit)="submit(); " id="myForm">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input [(ngModel)]="email" type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input [(ngModel)]="password" type="password" name="password" id="password"
                            class="form-control" autocomplete="false">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Sign Up" class="btn btn-primary col-12">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>